@charset "utf-8";


nav {
  margin: 27px auto 0;
  position: relative;
  width: 590px;
  height: 50px;
  
  border-radius: 8px;
  font-size: 0;
  margin-left:0px;
  margin-top:0px;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 25px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: impact;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: rgb(255, 7, 7);
}
nav .start-active, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #fffb00;
}
nav .start-concept, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #34db66;
}

h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}


body,
html {
  height: 100%;
  margin: 0 auto;
}


.area {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    padding: 5% 0;
}

.area nav a{
  position: absolute;
  font-family: 'impact';
  font-size: 200px;
  text-align: center;
  margin-top: 200px;
  
.area h2 {
  position: absolute;
    font-family: 'Impact';
    font-size: 200px;
    text-align: center;
    margin-top: 200px;
}

.area p {
    text-align: center;
    font-size: 14px;
}

.area1 {
  background-color: #882255;
  overflow: hidden;
  width: 100%;
  height: 50vh;
  padding: 5% 0;
}

.area1 h2 {
  color:#ffffff;
  font-family: 'Impact';
  font-size: 300px;
  text-align: center;
}

.area1 p {
  color:#ffffff;
  text-align: center;
  font-size: 14px;
}


/*--一部省略--*/
/*--固定背景の設定--*/
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1  {
background-image: url('sample1.png');
}

/*--固定背景02--*/
.cd-fixed-bg.cd-bg-2  {
background-image: url('sample5.png');
}
