@charset "utf-8";

h2{
    color:#000000;
    font-family:impact;
    font-size:50px;
    position:absolute;
    margin-top: 60px;
    margin-left: 400px;
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 590px;
    height: 50px;
    border-radius: 8px;
    font-size: 0;
    margin-left:0px;
    margin-top:0px;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 25px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: impact;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: rgb(255, 7, 7);
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #fffb00;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #34db66;
  }
  
  
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }

.main-nav{
    position:absolute;
    display: flex;
    margin-top: 150px;
    list-style: none;
    margin-left: 200px; 
}
.main-nav li{
    margin-left: 160px;
}
.main-nav a {
    color: #882255;  
}
.main-nav a:hover{
    color:#000000;
}
.page-header {
    display:flex;
}

.main-nav1{
    position:absolute;
    display: flex;
    margin-top: 500px;
    list-style: none;
    margin-left: -550px;
}
.main-nav1 li{
    margin-left: 160px;
}
.main-nav1 a {
    color: #882255;  
}
.main-nav1 a:hover{
    color: #ffffff
}

.main-nav2{
    position:absolute;
    display: flex;
    margin-top: 850px;
    list-style: none;
    margin-left: 200px;
}
.main-nav2 li{
    margin-left: 160px;
}
.main-nav2 a {
    color: #882255;  
}
.main-nav2 a:hover{
    color: #ffffff
}
